{% extends "portfolio/base.html" %}
{% block content %}
<br>
<h1>hey</h1>

<p>    Dunder Henlin is a website making company inspired by the famous Dunder Mifflin Paper Company. It's actually not even a company tbh but the name looks cool.So, why not? It has one employee and that's me ;)
    <br>
    <br>

     Dunder Henlin is a company that small businesses can rely on for a simple static webpage for a really low cost and 
     free hosting. I just feel that you don't have to be a million dollar company to have your own website or a website to prank your friend. 
     You can have a website as soon as you start your business or build a website to prank yor friend without having to
     pay 100s of dollars.
     <br>
     <br>
    <b>Privacy Policy:</b> Here's how I do it after you complete the payment. I collect your details, make your website and host it
     using python anywhere.Your domain will contain '.pythonanywhere' extension and you'll get the complete access to your website
     once I build it meaning you'll get the access to make changes and remove it from the internet anytime.Your data is completely safe
     and it is immediately deleted from my database one your website is hosted. 
     <br>
     <br>
     <b>Service:</b> Portfolio websites will be up live within 4-24 hours and custom static websites takes 1-3 days depending on your requirements.
     Refund Policy: I am sure you'll be happy with my service but paypal wants me to have a refund policy to keep my payment gateway running. So, why not?
     Your money will be refunded within 2-3 days if I fail to put your website live.
     <br><b>Update</b>: Also I don't need your address but it's integrated with paypal standard template. Just give a random address. God!
     <br>
     <br>
     <b>Contact:</b><br> <a href='https://www.instagram.com/crappy_codes/' target="_blank">Instagram: crappy_codes</a> <br><a href='mailto: dunderhenlin@gmail.com'>Email: dunderhenlin@gmail.com</a>.</b><br>
    <br>
    Cool beans!



</p>
<p><b>Build Your Website? Click link below!</b></p>
<a href="{% url 'store' %}">Build Now!</a>

{% endblock %}